<!-- COMPETÊNCIA -->
    <div class="competencia">
        <a href="{{ path }}?mes={{ anterior.mes }}&ano={{ anterior.ano }}">

            {% if titulo_tem_setas %}
                <i class="fa-solid fa-chevron-left"></i>
            {% endif %}
        </a>

        <h1 id="titulo" class="titulo">{{ titulo|safe }}
        </h1>

        <a href="{{ path }}?mes={{ proximo.mes }}&ano={{ proximo.ano }}">
                    
            {% if titulo_tem_setas %}
                <i class="fa-solid fa-chevron-right"></i>
            {% endif %}
        </a>
    </div>