<!-- MODAL -->
<div id="modalLancamento" class="modal">
    <div class="modal-content">
        <header class="modal-header">
            <h2>Novo lançamento</h2>
            <button class="close-btn" onclick="closeModal()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </header>

        <form method="post" action="{% if cartao %}
                                        {% url form_action cartao.id %}
                                    {% else %}
                                        {% url form_action %}
                                    {% endif %}">
            {% csrf_token %}

            <div class="form-group">
                <label>Descrição</label>
                <input type="text" name="descricao" required>
            </div>

            <div class="form-group">
                <input type="hidden" name="fatura" value="{{ fatura.id }}">
            </div>

            <div class="form-group">
                <label>Valor</label>
                <input type="number" step="0.01" name="valor" required>
            </div>

            <div class="form-group">
                <label>Data</label>
                <input type="date" name="data" required>
            </div>

            <div class="form-group">
                <label>Natureza</label>
                <select name="natureza">
                    <option value="RECEITA">Receita</option>
                    <option value="DESPESA">Despesa</option>
                </select>
            </div>

            <div class="form-group">
                <label>Repetido</label>
                <select name="fixo">
                    <option value="NAO">Nao</option>
                    <option value="FIXO">Fixo</option>
                    <option value="PARCELADO">Parcelado</option>
                </select>
            </div>

            <div class="form-group">
                <label>Parcelas</label>
                <input type="number" step="0.01" name="parcelas" required>
                </select>
            </div>

            <div class="form-group checkbox">
                <label>
                    Já pago
                </label>
                <input type="checkbox" name="pago">
            </div>

            <footer class="modal-footer">
                <button type="button" class="btn-secondary" onclick="closeModal()">
                    Cancelar
                </button>
                <button type="submit" class="btn-primary">
                    Salvar
                </button>
            </footer>
        </form>
    </div>
</div>